.ant-drawer.drawer {
  .ant-menu {
    background: transparent;
    border: none;

    .ant-menu-item {
      color: #111;
    }

    .ant-menu-item-selected,
    .ant-menu-item-active {
      background: #f2f2f2;
      a {
        color: #111;
      }
    }
  }
}
